
  <nav class="navbar navbar-expand-sm navbar-light bg-light static-top" style="padding: 0">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/flat_3.webp" width="40" alt="">
      </a>

      <ul class="nav nav-tabs ">
        <li class="nav-item"><a class="nav-link" routerLink="accueil">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="produits">Produits</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

    <div class="row bg-dark text-white">
      <div class="col-sm-9"><router-outlet></router-outlet></div>
      <div class="col-sm-3 d-flex" style="border: 2px dotted crimson;"><span class=" align-self-center" style="margin-left: auto; margin-right: auto;">Aside</span></div>
    </div>


  <footer class="card-footer bg-light">Nous contacter | <img src="assets/flat_3.webp" width="40" alt=""><img src="assets/flat_3.webp" width="40" alt=""></footer>


